<div class="tab-content">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <form [formGroup]="frmGroup" (ngSubmit)="onSubmit()" accept-charset="utf-8">
         
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label for="entityType" class="">Entity Type</label>
                            <div class="position-relative form-check">
                                <label class="form-check-label radio-labelcss">
                                    <input name="rdoentityType" type="radio" class="form-check-input">
                                    Reciept
                                </label>
                                <label class="form-check-label radio-labelcss">
                                    <input name="rdoentityType" type="radio" class="form-check-input">
                                    Payment
                                </label>
                                <label class="form-check-label radio-labelcss">
                                    <input name="rdoentityType" type="radio" class="form-check-input">
                                    Journal
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="position-relative form-group"><label for="date" class="">Date</label>
                            <input name="Date" id="Date" placeholder="Date" type="date" class="form-control">
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="position-relative form-group">
                            <label for="amount" class="">Reciept From</label>
                            <!-- <input name="RecieptFrom" id="RecieptFrom" placeholder="Reciept From" type="text"
                                class="form-control"> -->
                            <ng-select name="RecieptFrom" id="RecieptFrom" bindLabel="RecieptFrom"
                                placeholder="Reciept From" [searchable]="true" [clearable]="true" appendTo="body">
                                <ng-option> test a </ng-option>
                                <ng-option> test b </ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="position-relative form-group"><label for="Amount" class="">Amount</label>
                            <input name="Amount" id="Amount" placeholder="Amount" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="position-relative form-group"><label for="PaymentMode" class="">Payment Mode</label>
                            <!-- <input name="PaymentMode" id="PaymentMode" placeholder="Payment Mode" type="text"
                                class="form-control"> -->
                            <ng-select name="PaymentMode" id="PaymentMode" bindLabel="PaymentMode"
                                placeholder="Payment Mode" [searchable]="true" [clearable]="true" appendTo="body">
                                <ng-option> test a </ng-option>
                                <ng-option> test b </ng-option>
                            </ng-select>

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="position-relative form-group"><label for="instrumentNo" class="">Instrument
                                No</label>
                            <input name="instrumentNo" id="instrumentNo" placeholder="Instrument No" type="text"
                                class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="position-relative form-group"><label for="instrumentDate" class="">Instrument
                                Date</label>
                            <input name="instrumentDate" id="instrumentDate" placeholder="Instrument Date" type="date"
                                class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="position-relative form-group"><label for="Party" class="">Party</label>
                            <input name="Party" id="Party" type="text" class="form-control">
                        </div>
                    </div>

                </div>
                <ng-container *ngFor="let item of model?.Referencee; let i=index">

                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="position-relative form-group"><label for="RefDetail{{i}}" class="">Ref {{i+1}}</label>
                                <input name="RefDetail{{i}}" id="RefDetail{{i}}" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group"><label for="RefAmount{{i}}" class="">Amount {{i+1}}</label>
                                <input name="RefAmount{{i}}" id="RefAmount{{i}}" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="position-relative form-group"><label for="RefNotes{{i}}" class="">Notes {{i+1}}</label>
                                <input name="RefNotes{{i}}" id="RefNotes{{i}}" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-1" *ngIf="i==(model.Referencee.length-1)">
                            <button (click)="onAddItem()" class="mt-2 btn btn-primary">Add
                            </button>
                        </div>

                    </div>
                </ng-container>
                <div class="form-row">
                    <div class="col-md-6">
                        <button class="mt-2 btn btn-success">Submit</button>
                    </div>
                </div>
                </form>
            </div>
        </div>

    </div>
</div>