<div class="app-main__inner">
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
            <div class="main-card mb-3 card">
                <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="entityType" class="">Entity Type</label>
                                            <div class="position-relative form-check">
                                                <label class="form-check-label radio-labelcss">
                                                    <input name="rdoentityType" type="radio" class="form-check-input"> 
                                                      Reciept
                                                </label>
                                                <label class="form-check-label radio-labelcss">
                                                    <input name="rdoentityType" type="radio" class="form-check-input">
                                                      Payment
                                                </label>
                                                <label class="form-check-label radio-labelcss">
                                                    <input name="rdoentityType" type="radio" class="form-check-input">
                                                      Journal
                                                </label>
                                            </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="position-relative form-group"><label for="date" class="">Date</label>
                                    <input name="Date" id="Date" placeholder="Date"  type="text" class="form-control">
                                </div>
                            </div>
                        
                            <div class="col-sm-2">
                                <div class="position-relative form-group">
                                 <label for="amount" class="">Recieved From</label>
                                    <input name="address" id="exampleAddress" placeholder="Recieved From" type="text" class="form-control">
                                </div>    
                            </div>
                            <div class="col-sm-2">
                                <div class="position-relative form-group"><label for="amount" class="">Amount</label>
                                   <input name="amount" id="amount" placeholder="Amount" type="text" class="form-control">
                                </div>    
                            </div>
                            <div class="col-sm-2">
                                <div class="position-relative form-group"><label for="paymentMode" class="">Payment Mode</label>
                                    <input name="paymentMode" id="paymentMode" placeholder="Payment Mode" type="text" class="form-control">
                                 </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="position-relative form-group"><label for="instrumentNo" class="">Instrument No</label>
                                     <input name="instrumentNo" id="instrumentNo" placeholder="Instrument No" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="position-relative form-group"><label for="instrumentDate" class="">Instrument Date</label>
                                    <input name="instrumentDate" id="instrumentDate" placeholder="Instrument Date" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="position-relative form-group"><label for="party" class="">Party</label>
                                    <input name="party" id="party" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                 <div class="position-relative form-group">
                                     <label for="party" class=""></label>
                                     <button class="mt-2 btn btn-primary">ADd Ref</button>
                                 </div>
                             </div>
                         </div>
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="position-relative form-group"><label for="ref" class="">Ref 1</label>
                                    <input name="ref" id="ref" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group"><label for="amount" class="">Amount 1</label>
                                    <input name="amount" id="amount" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group"><label for="notes" class="">Notes 1</label>
                                    <input name="notes" id="notes" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                               <button class="mt-2 btn btn-success">Submit</button>
                            </div>
                         </div>
                </div>
            </div>
            
        </div>
    </div>
</div>